<h1>Welcome to Clothing Inventory Management</h1>
<p>Цей сервіс дозволяє керувати інвентарем одягу.</p>
<ul>
    <li><a href="/api-docs">Переглянути документацію API</a></li>
    <li><a href="/category">Категорії</a></li>
    <li><a href="/inventory">Інвентар</a></li>
    <li><a href="/product">Продукти</a></li>
    <li><a href="/size">Розміри</a></li>
    <li><a href="/users">Користувачі</a></li>
</ul>